<ul class="nav nav-tabs">
  <li class="{{accountSettings}}">
    <a href="/account/settings">Account</a>
  </li>
  <li class="{{accountDelete}}">
    <a href="/account/delete">Delete account</a>
  </li>
</ul>
