<tr class="{{class}}">
  <td>
    <select name="type">
      <option value="NAME_CONTAINS">Name contains</option>
      <option value="EXT_EQ">Extension equals</option>
      <option value="GLOB">Name pattern</option>
    </select>
  </td>
  <td>
    <input class="pattern" type="text" value="{{rule.pattern}}">
  </td>
  <td>
    <div class="dest-wrap">
	    <i class="exp-status icon-folder-close"></i>
	    <input class="dest" type="text" value="{{rule.dest}}">
    </div>
  </td>
  <td class="center">
    <div class="relative">
	    <button class="btn btn-danger del">Delete</button>
	    <i class="status"></i>
    </div>
  </td>
</tr>
