#{extends 'main.html' /} #{set title:'FAQ' /}
#{set faq:'active'/}
#{set title:'FAQ'/}

<div class="page-header">
	<h1>Frequently Asked Questions
	   <a class="btn btn-primary login pull-right" href="@{Login.auth()}">Login with Dropbox</a>
	   <a class="btn btn-primary login pull-right" href="@{Login.boxAuth()}">Login with Box</a>
	</h1>
</div>
<div class="well faq">

	<h3>What is SortMyBox?</h3>
	
	<p>SortMyBox is a magic folder inside your cloud storage folder.
       Save new files there and we will move them based on rules you create.
       Like e-mail filters, for your Dropbox.</p>
	
	<h3>How does SortMyBox work?</h3>
	
	<p>We check the contents of your SortMyBox folder every 15 minutes. If there are any files that match any of your 
       rules, we will move them to their correct location. We also log all file moves so you never lose a file.</p>
	
	<h3>Is SortMyBox for me?</h3>
	
	<p>Yes! Whether you're keeping your photos and videos organized or sharing documents with other people, SortMyBox will keep your files organized.</p>
	
	<h3>How do I begin?</h3>
	
	<p>Login using your <a href="@{Login.login()}">Dropbox</a> or <a href="@{Login.boxAuth()}">Box</a> account and 
       we will create a SortMyBox folder and some sample rules for you.
       Save your files in this folder and you're good to go.</p>
	
	<h3>Why do I have to provide access for my Dropbox/Box account?</h3>
	
	<p>SortMyBox needs permission to move files around and put them in the appropriate folders. SortMyBox will never use your access for any other purposes.</p>
	
	<h3>What sorting options do I have?</h3>
		
	<p>We have 3 kinds of rules: </p>
	<dl class="dl-horizontal">
		<dt>Name Contains:</dt>
		<dd>Move similarly named files to an appropriate folder.</dd> 
		<dd>A rule with the pattern <code>venice 2011</code> matches files named
            <code>jen birthday venice 2011.jpg</code> or
            <code>gondola venice 2011.jpg</code>.</dd>
	
		<dt>Extension equals:</dt> 
		<dd>Files with a matching extension will be moved to an appropriate folder.</dd> 
		<dd>A rule with the extension <code>doc</code> matches files named
            <code>science report final.doc</code> or
            <code>resume.doc</code>, <strong>but not</strong> 
            <code>doc brown with marty.jpg</code>.</dd>
	
		<dt>Name Pattern:</dt> 
		<dd>Use wildcards like <code>?</code> and <code>*</code> to move files to an appropriate folder. <code>?</code> matches a single letter/number/symbol/character whereas <code>*</code> can match any number of them.</dd> 
		<dd>The pattern <code>Prince*.mp3</code> matches <code>Prince - Purple rain.mp3</code> or <code>Prince.mp3</code>,
            <strong>but not</strong> <code>Prince.doc</code> or <code>Best of Prince.mp3</code>.</dd>
		<dd>The pattern <code>error?.txt</code> matches <code>error.txt</code> or <code>errors.txt</code>,
            <strong>but not</strong> <code>errorss.txt</code> or <code>new error.txt</code>.</dd>
	</dl>
	<h3>Is SortMyBox free?</h3>
	
	<p>Yes.</p>
	
	<h3>Open source?</h3>
	
	<p>SortMyBox is open source and BSD licensed, you can find it on <a href ="https://github.com/mustpax/sortmybox"> GitHub.</a></p>
	
	<p>You can even run it on your own Google AppEngine instance. Instructions forthcoming!</p>
	
	<h3>How do I contact you?</h3>
	
	<p>You can <a href = "mailto: ${play.configuration.getProperty("sortbox.email")}" >email us</a>
       or find us on <a href = "http://twitter.com/sortmybox">Twitter</a>.</p>
	
	<h3>Anything else?</h3>
	
	<p>Yes, please help us spread the word and share SortMyBox with other Dropbox & Box users! </p>
      
</div>
