#{extends 'main.html' /}
<style>
    body {
        background-image: url('#{static-path '/public/img/bg2.png'/}');
    }
</style>
<div class="content-body markdown-body markdown-format">
	
	
	<div class="row">
		<div class"span12">
		  <div class="hero-unit press">
			   <p class="logo">
		            <img alt="SortMyBox logo"
		             src="#{static-path '/public/img/logo128-2.png'/}">
		       </p>
		  <div align="center">
            <h1>Press!</h1>
          </div> 
          </div> 
	</div>
	
	<ul>
		<li class="odd">
			<div>
		        <p>
		        <a href="http://lifehacker.com/5908324/sortbox-automatically-organizes-files-is-like-email-filters-for-dropbox">
		            <img src="#{static-path '/public/img/lifehacker.png'/}"/>
		            <p class="press-heading">SortMyBox Automatically Organizes Files, Is Like Email Filters for Dropbox</p>
		        </a>
		        </p>
		        <p class="press-quote">&#8220;A solid option for automating Dropbox folder organization&#8221;</p>	
			</div>
		</li>
		
		<li class="even">
		   <div>
		        <p>
		        <a href="http://www.smashingmagazine.com/smashing-newsletter-issue-59/">
		            <img src="#{static-path '/public/img/smashingMagazine.png'/}"/>
		            <p class="press-heading"> Organize Your Dropbox With Filters </p>
		        </a>
		        </p>
		        <p class="press-quote">&#8220;A very handy tool to keep your Dropbox organized.&#8221;</p>
	       </div>
		</li>
		
		<li class="odd">
          <div>
            <p><a href="http://howto.cnet.com/8301-11310_39-57452807-285/automatically-sort-dropbox-files-with-sortmybox/">
                <img src="#{static-path '/public/img/cnet_logo.jpeg'/}"/>
                <p class="press-heading">Automatically sort Dropbox files with SortMyBox</p>
            </a>
            </p>
            
            <p class="press-quote">&#8220;SortMyBox should be a huge time-saver for those who use Dropbox extensively.&#8221;</p>
          </div>
        </li>
        
        <li class="even">
          <div>
            <p><a href="http://web.appstorm.net/reviews/file-management/organize-your-dropbox-with-sortmybox/">
                <img src="#{static-path '/public/img/appstorm_logo.jpeg'/}"/>
                <p class="press-heading">Organize Your Dropbox with SortMyBox</p>
            </a>
            </p>
            
            <p class="press-quote">&#8220;SortMyBox is a fantastic service that makes automating the sorting and organization of your Dropbox account a breeze.&#8221;</p>
          </div>
        </li>
		
		<li class="odd">
		  <div>
            <p><a href="http://agbeat.com/cities/san-francisco-cities/sortbox-streamlines-your-dropbox-chaos/">
                <img src="#{static-path '/public/img/ag-beat.png'/}"/>
                <p class="press-heading">SortMyBox streamlines your Dropbox chaos</p>
            </a>
            </p>
            
            <p class="press-quote">&#8220;@sortmybox streamlines your Dropbox chaos.&#8221;</p>
          </div>
		</li>
		
		<li class="even">
          <div>
            <p><a href="http://www.makeuseof.com/tag/organize-sort-your-dropbox-files-automatically-with-the-help-of-sortbox/">
                <img src="#{static-path '/public/img/makeuseof_logo.jpg'/}"/>
                <p class="press-heading">Organize & Sort Your Dropbox Files Automatically With The Help Of SortMyBox</p>
            </a>
            </p>
            
            <p class="press-quote">&#8220;The service is extremely easy to set up and use, and can be a major time-saver for avid Dropbox users.&#8221;</p>
          </div>
        </li>
        
        <li class="odd">
          <div>
            <p><a href="http://www.ampercent.com/organize-dropbox-files-sorting-rules-filters/10399/">
                <img src="#{static-path '/public/img/ampercent_logo.jpeg'/}"/>
                <p class="press-heading">SortMyBox Automatically Sorts Your Dropbox Files Into Different Folders, Just Like Gmail Filters</p>
            </a>
            </p>
            
            <p class="press-quote">&#8220;Once your sorting rules are in place, all you have to do is send the specific file to the SortMyBox folder and forget about it.&#8221;</p>
          </div>
        </li>
		
    </ul>

</div>