#{extends 'main.html' /}
<style>
    body {
        background-image: url('#{static-path '/public/img/bg2.png'/}');
    }
</style>
<div class="content-body markdown-body markdown-format">
	
	
	<div class="row">
		<div class"span12">
		  <div class="hero-unit press">
			   <p class="logo">
		            <img alt="SortMyBox logo"
		             src="#{static-path '/public/img/logo128-2.png'/}">
		       </p>
		  <div align="center">
            <h1>Press!</h1>
          </div> 
          </div> 
	</div>
	
	<ul>
		<li class="odd">
			<div>
		        <p>
		        <a href="http://lifehacker.com/5908324/sortbox-automatically-organizes-files-is-like-email-filters-for-dropbox">
		            <img src="#{static-path '/public/img/lifehacker.png'/}"/>
		            <p class="press-heading">Sortbox Automatically Organizes Files, Is Like Email Filters for Dropbox</p>
		        </a>
		        </p>
		        <p class="press-quote">&#8220;A solid option for automating Dropbox folder organization&#8221;</p>	
			</div>
		</li>
		
		<li class="even">
		   <div>
		        <p>
		        <a href="http://www.smashingmagazine.com/smashing-newsletter-issue-59/">
		            <img src="#{static-path '/public/img/smashingMagazine.png'/}"/>
		            <p class="press-heading"> Organize Your Dropbox With Filters </p>
		        </a>
		        </p>
		        <p class="press-quote">&#8220;A very handy tool to keep your Dropbox organized.&#8221;</p>
	       </div>
		</li>
		
		<li class="odd">
		  <div>
            <p><a href="http://agbeat.com/cities/san-francisco-cities/sortbox-streamlines-your-dropbox-chaos/">
                <img src="#{static-path '/public/img/ag-beat.png'/}"/>
                <p class="press-heading">SortMyBox streamlines your Dropbox chaos</p>
            </a>
            </p>
            
            <p class="press-quote">&#8220;@sortmybox streamlines your Dropbox chaos.&#8221;</p>
    </div>
		</li>
    </ul>

</div>