#{extends 'main.html' /}

<div class="content-body markdown-body markdown-format">
<div class="page-header">
    <h1>Privacy Policy</h1>
</div>

<div class="well faq">

    <h3>What information do we collect?</h3> 

    <p>We collect information from you when you register on our site.</p> 

    <p>When registering on our site, you may be asked to enter your: Dropbox credentials.</p>

    <h3>What do we use your information for?</h3> 

    <p>Any of the information we collect from you may be used in one of the following ways:</p> 
    <ul>
        <li>To personalize your experience (your information helps us to better respond to your individual needs)</li>
    
        <li>To process transactions; 
        Your information, whether public or private, will not be sold, exchanged, transferred, or given to any other company for any reason whatsoever, without your consent, other than for the express purpose of delivering the purchased product or service requested.</li>
    </ul>

    <h3>How do we protect your information?</h3> 

    <p>We implement a variety of security measures to maintain the safety of your personal information when you enter, submit, or access your personal information.</p> 

    <h3>Do we use cookies?</h3> 

    <p>Yes (Cookies are small files that a site or its service provider transfers to your computers hard drive through your Web browser (if you allow) that enables the sites or service providers systems to recognize your browser and capture and remember certain information.</p>

    <p>We use cookies to understand and save your preferences for future visits.</p>

    <h3>Do we disclose any information to outside parties?</h3> 

    <p>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others rights, property, or safety. However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.</p>

    <h3>California Online Privacy Protection Act Compliance</h3>

    <p>Because we value your privacy we have taken the necessary precautions to be in compliance with the California Online Privacy Protection Act. We therefore will not distribute your personal information to outside parties without your consent.</p>

    <h3>Childrens Online Privacy Protection Act Compliance</h3> 

    <p>We are in compliance with the requirements of COPPA (Childrens Online Privacy Protection Act), we do not collect any information from anyone under 13 years of age. Our website, products and services are all directed to people who are at least 13 years old or older.</p>

    <h3>Your Dropbox Credentials</h3>

    <p>We will not use your Dropbox credentials to read the content in any of your files, and use that information. We also do not store any information about the files present in your Dropbox. We use your Dropbox Credentials solely to authenticate your account, and sort the files in your "SortMyBox" folder based on the rules you have setup.</p>

    <h3>Your Consent</h3> 

    <p>By using our site, you consent to our online privacy policy.</p>

    <h3>Changes to our Privacy Policy</h3> 

    <p>If we decide to change our privacy policy, we will post those changes on this page, send an email notifying you of any changes, and/or update the Privacy Policy modification date below.</p> 

    <p>This policy was last modified on April 26, 2012</p>

    <h3>Contacting Us</h3> 

    <p>If there are any questions regarding this privacy policy you may contact us at:</p> 

    <p>www.sortmybox.com <br/>
    828 Anza Street, Apt 9 <br/>
    San Francisco, CA 94118</p>
    <p><a href = "mailto: ${play.configuration.getProperty("sortbox.email")}" >Email us</a></p>

</div>
</div>