#{extends 'main.html' /}

<div class="content-body markdown-body markdown-format">
<div class="page-header" align="center">
    <h1>Meet the Sortbox team</h1>
</div>
    <div class="row" align="center">
        <div class="span4">
            <h3>Mustafa</h3>
            <p><img src="@{'/public/img/mus-sortmybox.jpg'}"/></p>
            <p>
	            <a href="https://twitter.com/mustpax"><img src="@{'/public/img/twitterIcon.png'}"/></a>
	            <a href="https://github.com/mustpax"><img src="@{'/public/img/githubIcon.png'}"/></a>   
	        </p>
	        <p>&#8220;Obviously, you're not a golfer.&#8221;</p>    
        </div>
        <div class="span4">
            <h3>Kanishka</h3>
            <p><img src="@{'/public/img/km-sortmybox.jpg'}"/></p>
            <p>
	            <a href="https://twitter.com/Djmojorisin"><img src="@{'/public/img/twitterIcon.png'}"/></a>
	            <a href="https://github.com/Djmojorisin"><img src="@{'/public/img/githubIcon.png'}"/></a>
            </p>
            <p>&#8220;Too close for missles, I'm switching to guns.&#8221;</p>
        </div>
        <div class="span4">
            <h3>Sid</h3>
            <p><img src="@{'/public/img/sid-sortmybox.jpg'}"/></p>
            <p>
            <a href="https://github.com/syyang"><img src="@{'/public/img/githubIcon.png'}"/></a>
            </p>
            <p>&#8220;It does not matter how slowly you go as long as you do not stop.&#8221;</p>
        </div>
    </div>
</div>