#{extends 'main.html' /} #{set title:'Login' /}

<div class="row">
 <div class="span12">
  <div class="hero-unit">
   <h1>Sortbox
    <small>Put your files where they belong without lifting a finger</small>
   </h1>
   <p>
    <strong>Sortbox</strong> is a magic folder in your Dropbox that moves files
    to their correct location based on sorting rules that <em>you</em>
    create.
   </p>
   <p>
    <a class="btn-large btn-primary" href="@{auth()}">Login with Dropbox</a>
   </p>
  </div>
 </div>
</div>