<h1>Welcome!</h1>

<ul>
  {{#each visits}}
    <li>
      Id: {{id}} Date: {{created}}
      <form method="post" action="/delete/{{ id }}">
        <input type="submit" value="Delete">
      </form>
    </li>
  {{/each}}
</ul>
