.rules .rule .error {
    background: #FAE5E3;
}

.rules .rule .error input {
    border-color: #C87872;
    color: #B94A48;
    background: white;
}

.rules .error .msg {
    color: #B94A48;
}

.rule-template {
    display: none;
}

.rule {
    cursor: move;
}

select[size] {
    height: 28px;
}

.exp {
    position: absolute;
    background: white;
    width: 190px;
    max-height: 240px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #ddd;
    box-shadow: 0 0 2px 2px rgba(221, 221, 221, 0.4);
    display: none;
    z-index: 1;
}

.exp-active .exp {
    display: block;
}

.dest-wrap {
    position: relative;
}

.exp-status {
    position: absolute;
    display: block;
    top: 6px;
    left: 16px;
}

.exp .folder {
    white-space: nowrap;
}

.exp .folder i {
    margin-right: 5px;
}

.table .center {
    text-align: center;
}

.dest {
    padding-left: 32px;
    width: 182px;
}

.faq p {
    font-size: 110%;
}

.landing {
    margin-top: 90px;
    text-align: center;
    background-color: #CAE0FD;
    padding-bottom: 25px;
}
.press {
    margin-top: 90px;
    text-align: center;
    padding-bottom: 25px;
    background-color: initial;
}
.landing h1 {
    line-height: 36px;
}

.landing h1 small {
    letter-spacing: normal;
    color: #333;
    font-weight: 200;
}

.share-links {
	margin-top: 20px;
}

.share-links, .center {
    text-align: center;
}

.share-links iframe {
    margin-left: 5px;
    margin-right: 5px;
}

.logo {
    position: relative;
}

.logo img {
    position: absolute;
    top: -128px;
    left: 346px;
}

.moves li {
    line-height: 24px;
}

#screenshots {
    min-height: 450px;
}

.account-info dt,
.account-info dd {
    margin-bottom: 30px;
}

.navbar .container {
    width: 940px;
}

.presslist li:nth-child(odd) {
    text-align: left;
    list-style-type: none;
}

.presslist li:nth-child(even) {
    text-align: right;
    list-style-type: none;
}

.periodicSort form {
    display: inline;
}

.blacklist th,
.blacklist td {
    text-align: center;
    padding: 4px;
}

.blacklist form {
    margin-top: 0px;
    margin-bottom: 0px;
}

.login {
    margin-right: 30px;
}

.learn {
    margin-right: 40px;
}

.relative {
    position: relative;
}

.status {
    position: absolute;
    right: -4px;
    top: 6px;
}

.rule .msg {
    display: block;
}

.rule input,
.rule select {
    margin-top: 2px;
    margin-bottom: 2px;
}

.carousel-caption {
    top: 0;
    bottom: auto;       
}

.faq {
	background-color: whiteSmoke;
	padding-top: 20px;
	padding-bottom: 10px;
}

code {
   color: darkGreen;
}

.landing-heading {
	margin-bottom: 20px;
}

.move-fail code {
    color: red;    
}

.move-fail {
    background-color: #FAE5E3;    
}

.testimonials {
    background-color: whiteSmoke;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.testimonials p {
    text-align: left;
}

.testimonials img {
    margin-right: 5px;
}

.press-heading {
    font-size: 140%;
}

.press-quote {
    font-size: 120%;
}

/*
* jQuery Mobile Framework
* Copyright (c) jQuery Project
* Dual licensed under the MIT (MIT-LICENSE.txt) or GPL (GPL-LICENSE.txt) licenses.
*/
.spin  {
    -webkit-transform: rotate(360deg);
    -webkit-animation-name: spin;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
    -moz-transform: rotate(360deg);
    -moz-animation-name: spin;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count:  infinite;
    -moz-animation-timing-function: linear;
}
@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}
/* end jQuery Mobile */
