#{extends 'Admin/header.html' /}
#{set title:'Search user'/}
#{set searchUser:'active'/}


<div class="row">
  <div class="span12">
    <form class="well form-search" action="@{searchUser}">
      <input type="text" class="input-medium search-query" name="query"
          #{if query}value="${query}"#{/if}#{else}placeholder="Enter user id or name"#{/else}>
        <button type="submit" class="btn">Search</button>
    </form>
  </div>
  #{if ranSearch}
  <div class="span12">
    #{if results}
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Periodic sort</th>
          <th>Last sync</th>
          <th>Last login</th>
          <th>Created</th>
       </tr>
     </thead>
     <tbody>
     #{list items:results, as:'result'}
       <tr>
         <td>${result.id}</td>
         <td>${result.name}</td>
         <td>${result.periodicSort}</td>
         <td>${result.lastSync}</td>
         <td>${result.lastLogin}</td>
         <td>${result.created}</td>
       </tr>
     #{/list}
     </tbody>
    </table>
    #{/if}
    #{else}
      <em>No match found.</em>
    #{/else}
  </div>  
  #{/if}
</div>
