#{extends 'main.html' /} #{set title:'User Search'/}
#{set admin:'active'/}

<ul class="nav nav-tabs">
  <li class="active">
    <a href="@{userSearch()}">User search</a>
  </li>
  <li>
    <a href="#">User blacklist</a>
  </li>
  <li>
    <a href="#">Delete user</a>
  </li>
</ul>

<div class="row">
  <div class="span12">
    <form class="well form-search" action="@{userSearch}">
      <input type="text" class="input-medium search-query" name="query"
          #{if query}value="${query}"#{/if}#{else}placeholder="Enter user name"#{/else}>
        <button type="submit" class="btn">Search</button>
    </form>
  </div>
  #{if ranSearch}
  <div class="span12">
    #{if results}
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Periodic sort</th>
          <th>Last sync</th>
          <th>Last login</th>
          <th>Created</th>
          <th>Modified</th>
       </tr>
     </thead>
     <tbody>
     #{list items:results, as:'result'}
       <tr>
         <td>${result.id}</td>
         <td>${result.name}</td>
         <td>${result.periodicSort}</td>
         <td>${result.lastSync.since()}</td>
         <td>TODO</td>
         <td>${result.created}</td>
         <td>${result.modified}</td>
       </tr>
     #{/list}
     </tbody>
    </table>
    #{/if}
    #{else}
      <em>No match found.</em>
    #{/else}
  </div>  
  #{/if}
</div>
