<style>
.main {
  margin-top: 30px;
}

.main p {
  font-size: 18px;
  margin-top: 5px;
}
.main .credit {
  font-size: 12px;;
}
</style>

<div class="center main">
<h1>404: Not Found</h1>

<p>
  The page you requested does not exist.
  If this is a bug, <a href="mailto:contact@sortmybox.com">let us know!</a>
</p>

<p>
  <img src="{{static '/img/404.jpg'}}" alt="A woman looking at a map">
</p>

<p class="credit">
  <a href="https://unsplash.com/@annapascale?utm_medium=referral&utm_campaign=photographer-credit&utm_content=creditBadge">Photo by Anna Pascale on Unsplash</a>
</p>


</div>
