<style>
.main {
  margin-top: 30px;
}

.main p {
  font-size: 18px;
  margin-top: 5px;
}
.main .credit {
  font-size: 12px;;
}
</style>

<div class="center main">
<h1>Uh oh! Something went wrong</h1>

<p>
  This is a bug and we have been notified about this error.
</p>

<p>
  You can <a href="mailto:contact@sortmybox.com">contact us</a>
  with feedback or more information about this error.
</p>

<p>
  <img width="600" src="{{static '/img/500.jpg'}}" alt="Broken plate">
</p>

<p class="credit">
  <a href="https://unsplash.com/@chuttersnap?utm_medium=referral&utm_campaign=photographer-credit&utm_content=creditBadge">Photo by chuttersnap on Unsplash</a>
</p>


</div>
