application.secret=ThisIsADummyValue
dropbox.consumerKey=PutDropboxConsumerKeyHere
dropbox.consumerSecret=PutDropboxConsumerSecretHere
box.apiKey=boxOAuth2ClientIdHere
box.apiKeySecret=boxOAuth2ClientSecretHere
box.apiKeyDev=devEnvironmentBoxOAuth2ClientIdHere
box.apiKeyDevSecret=devEnvironmentBoxOAuth2ClientIdHere
