<tr class="${_class}">
  <td>
  #{select 'type', value:_rule?.type }
      #{option 'NAME_CONTAINS'}Name contains#{/option}
	  #{option 'EXT_EQ'}Extension equals#{/option}
      #{option 'GLOB'}Name pattern#{/option}
  #{/select}
  </td>
  <td>
    <input class="pattern" type="text" value="${_rule?.pattern}">
  </td>
  <td>
    <div class="dest-wrap">
	    <i class="exp-status icon-folder-close"></i>
	    <input class="dest" type="text" value="${_rule?.dest}">
    </div>
  </td>
  <td class="center">
    <button class="btn btn-danger del">Delete</button>
    <i class="status"></i>
  </td>
</tr>