*{
 * Resolve static resource path in a CDN aware manner.
 * A CDN path will be used on prod.
 *
 * We check that the namespace is unset to ensure that we're not running
 * on a staging environment.
}*
%{
  cdn = play.configuration.getProperty("sortbox.cdn");
  ver = com.google.appengine.api.utils.SystemProperty.applicationVersion.get();
  cacheBreak = null;
  if (ver) {
	  ver = ver.split("\\.")[0];
	  cacheBreak = ver.split("\\.")[1];
  }
}%
#{if play.mode.isProd() && cdn}${cdn}/${ver}${_arg}?${cacheBreak}#{/if}#{else}${_arg}#{/else}