#{extends 'main.html' /} 
#{set title:'Not Found' /}

    <div class="center">
        #{if play.mode.name() == 'DEV'}
            #{404 result /}
        #{/if}
        #{else}
             <h1>Doh! File not found</h1>
            <p>
                You can 
                <a href="mailto: ${play.configuration.getProperty("sortbox.email")}">contact us</a> 
                with any additional information.
            </p>
            <p>
                <img src="#{static-path '/public/img/Homer_Simpson_Error.jpg'/}" />
            </p>
        #{/else}
    </div>

