#{if play.mode.name() != 'DEV'}
    #{extends 'main.html' /}
#{/if}
#{set title:'Application Error' /}

<div class="center">
    #{if play.mode.name() == 'DEV'} 
        #{500 exception /} 
    #{/if} 
    #{else}
        <h1>Doh! An error has occurred</h1>
        <p>
            We have been notified. You can 
            <a href="mailto: ${play.configuration.getProperty("sortbox.email")}">contact us</a> 
            with any additional information.
        </p>
        <p>
            <img src="#{static-path '/public/img/Homer_Simpson_Error.jpg'/}" />
        </p>
        #{if exception instanceof play.exceptions.PlayException}
        <p>
            This exception has been logged with id <strong>${exception.id}</strong>.
        </p>
        #{/if} 
    #{/else}
</div>

