#{extends 'main.html' /} #{set title:'Login' /}

#{if flash.deletedAccount}
<div class="row">
  <div class="deletedAccount">
	<div class="span12">
      <div class="alert alert-info alert-created">
        <a class="close" data-dismiss="alert">×</a>
		<h4 class="alert-heading">Successfully deleted your Sortbox account.</h4>
      </div>
	</div>
  </div>
</div>
#{/if}

<div class="row">
 <div class="span12">
  <div class="hero-unit">
   <h1>Sortbox
    <small>Put your files where they belong without lifting a finger</small>
   </h1>
   <p>
    <strong>Sortbox</strong> is a magic folder in your Dropbox that moves files
    to their correct location based on sorting rules that <em>you</em>
    create.
   </p>
   <p>
    <a class="btn-large btn-primary" href="@{auth()}">Login with Dropbox</a>
   </p>
  </div>
 </div>
</div>