#{extends 'main.html' /} #{set title:'Login' /}

#{if flash.deletedAccount}
<div class="row">
  <div class="deletedAccount">
	<div class="span12">
      <div class="alert alert-info alert-created">
        <a class="close" data-dismiss="alert">×</a>
		<h4 class="alert-heading">Successfully deleted your Sortbox account.</h4>
      </div>
	</div>
  </div>
</div>
#{/if}

<div class="row">
 <div class="span12">
  <div class="hero-unit">
   <h1>Sortbox
    <br>
    <small>Put your files where they belong without lifting a finger</small>
   </h1>
   <p>
    <strong>Sortbox</strong> is a magic folder in your Dropbox that moves files to folders
    based on <em>your</em> rules.
   </p>
   <p>
    <a class="btn-large btn-primary" href="@{auth()}">Login with Dropbox</a>
   </p>
  </div>
 </div>
</div>

<div class="row">
   <p class="share-links">
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.sortmybox.com" data-text="I use Sortbox to keep my Dropbox organized!" data-via="sortmybox">Tweet</a>
    <a href="https://twitter.com/sortmybox" class="twitter-follow-button" data-show-count="false">Follow @sortmybox</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
   </p>
</div>
