#{extends 'main.html' /}

#{if createdSortbox}
<div class="row">
	<div class="span12">
		<div class="alert alert-info alert-created hide">
			<a class="close" data-dismiss="alert">×</a>
		    <h4 class="alert-heading">Sortbox created!</h4>
			We created a folder called <strong>Sortbox</strong> for you in your Dropbox.
            Save files here to get them sorted based on your rules.<br>
            We also created some rules for you to get you started.
		</div>
	</div>
</div>
#{/if}

<div class="row">
  <div class="span12">
    <div class="page-header">
      <h1>Sorting rules
        <small>Rules are applied to your Sortbox folder every 15 minutes.</small>
      </h1>
    </div>
    <table class="rules table table-bordered table-striped">
      <thead>
        <th>When</th>
        <th></th>
        <th>Move file to</th>
        <th></th>
      </thead>
      #{list items:rules, as:'rule'}
	      #{rule rule:rule, class:'rule' /}
      #{/list}
      #{else}
	      #{rule class:'rule' /}
      #{/else}


      <tr class="new-rule-row">
        <td colspan="3"></td>
        <td class="center">
          <button class="btn new">New rule</button>
        </td>
      </tr>

      #{rule class:'rule-template' /}
    </table>
    <p>
    <a class="btn btn-primary btn-large save">Save &amp; Run Rules</a>
    </p>
  </div>
</div>

<div class="row">
  <div class="span12">
	<div class="page-header">
	  <h1>Recent activity</h1>
	</div>
      <ul class="moves">
          #{list items:moves, as:'move'}
              #{if move.successful}
                  <li class="failure">Moved <code>${move.fromFile}</code> to <code>${move.toDir}/${move.fromFile}</code>. (${move.when.since()})
              #{/if}
              #{else}
	              <li class="success">Failed to move <code>${move.fromFile}</code> to <code>${move.toDir}/${move.fromFile}</code> since
                                    there is already a file with the same name at the location. (${move.when.since()})
              #{/else}
          #{/list}
      </ul>
      #{else}
          <em>None yet. Create some rules and save files in your Sortbox folder to get going.</em>
      #{/else}
    </div>
</div>
#{set 'script'}
<script src="#{static-path '/public/js/editor.js'/}"></script>

#{abtest.conversion /}
#{/set}


