#{extends 'main.html' /}
#{set title:'Home' /}

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1>Sorting rules</h1>
  <p>Add or edit sorting rules. Rules are applied top to bottom. Rule evaluation stops at first match.</p>
  <table class="rules">
    <tr>
      <th></th>
      <th>When</th>
      <th>To</th>
      <th>Move file to</th>
    </tr>
    <tr>
      <td>1</td>
      <td>
        <select>
          <option>Name contains</option>
          <option>Name equals</option>
          <option>Name regex</option>
          <option selected="yes">Extension equals</option>
        </select>
      </td>
      <td><input class="to" type="text" value="pdf"></td>
      <td><input class="dest" type="text" value="/target"></td>
      <td><a class="del btn">Del</a></td>
    </tr>
    <tr>
      <td>2</td>
      <td>
        <select>
          <option>Name contains</option>
          <option>Name equals</option>
          <option>Name regex</option>
          <option>Extension equals</option>
        </select>
      </td>
      <td><input class="to" type="text"></td>
      <td><input class="dest" type="text"></td>
      <td><a class="btn add">Add</a></td>
    </tr>
    <tr class="new" style="display: none;">
      <td>3</td>
      <td>
        <select>
          <option>Name contains</option>
          <option>Name equals</option>
          <option>Name regex</option>
          <option>Extension equals</option>
        </select>
      </td>
      <td><input class="to" type="text"></td>
      <td><input class="dest" type="text"></td>
      <td><a class="btn add">Add</a></td>
    </tr>
  </table>
  <p>
    <a class="btn primary large">Run rules now</a>
    <small>Last ran 3 minutes ago</small>
  </p>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="span8">
    <h2>User</h2>
    <ul>
      <li>${user.uid}
      <li>${user.name}
      <li>${user.email}
    </ul>
  </div>
  
  <div class="span8">
    <h2>Files</h2>
    <ul>
        #{list files, as:'file'}
        <li>${file}
        #{/list}
    </ul>

    #{form @process(), method:'POST'}
    <input type="submit" value="Update">
    #{/form}
  </div>
  #{set 'script'}
      $('.rules .add').live('click', function() {
        var add = this;
        var tbody = $(add).parents('tbody').first();
        var new_ = tbody.children('tr.new');
        tbody.append(new_.clone());
        new_.removeClass('new');
        new_.show('fast');

        $(add).text('Del');
        $(add).removeClass('add');
        $(add).addClass('del');
      });

      $('.rules .del').live('click', function() {
        $(this).parents('tr').first().hide('fast').remove();
      });
  #{/set}
</div>


