#{extends 'main.html' /}
#{set title:'Home' /}

<div class="hero-unit">
  <h1>Sorting rules</h1>
  <p>Add or edit sorting rules. Rules are applied top to bottom. Rule evaluation stops at first match.</p>
  <table class="rules">
    <tr>
      <th></th>
      <th>When</th>
      <th>To</th>
      <th>Move file to</th>
    </tr>
    #{list rules, as:'rule'}
	  <tr class="rule">
	      <td>${rule.rank}</td>
          <td>
	      #{select 'type', value:rule.type }
		      #{option 'NAME_CONTAINS'}Name contains#{/option}
			  #{option 'EXT_EQ'}Extension equals#{/option}
		      #{option 'GLOB'}Name pattern#{/option}
	      #{/select}
          </td>
	      <td><input class="pattern" type="text" value="${rule.pattern}"></td>
	      <td><input class="dest" type="text" value="${rule.dest}"></td>
	      <td><a class="btn del">Del</a></td>
        </tr>
      #{/list}
    
    <tr class="rule">
      <td>1</td>
      <td>
        <select>
          <option value="NAME_CONTAINS">Name contains</option>
          <option value="EXT_EQ">Extension equals</option>
          <option value="GLOB">Name pattern</option>
        </select>
      </td>
      <td><input class="pattern" type="text"></td>
      <td><input class="dest" type="text"></td>
      <td><a class="btn add">Add</a></td>
    </tr>
    
    <tr class="new" style="display: none;">
      <td>3</td>
      <td>
        <select>
          <option value="NAME_CONTAINS">Name contains</option>
          <option value="EXT_EQ">Extension equals</option>
          <option value="GLOB">Name pattern</option>
        </select>
      </td>
      <td><input class="pattern" type="text"></td>
      <td><input class="dest" type="text"></td>
      <td><a class="btn add">Add</a></td>
    </tr>
  </table>
  <p>
    <a class="btn primary large save">Save</a>
    <small>Last ran 3 minutes ago</small>
  </p>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="span8">
    <h2>User</h2>
    <ul>
      <li>${user.id}
      <li>${user.name}
      <li>${user.email}
    </ul>
  </div>
  
  <div class="span8">
    <h2>Files</h2>
    <ul>
        #{list files, as:'file'}
        <li>${file}
        #{/list}
    </ul>

    #{form @process(), method:'POST'}
    <input type="submit" value="Update">
    #{/form}
  </div>
  #{set 'script'}
      var validateCell = function(cell) {
        console.log('validate', cell, cell.val());
        var ret = !! cell.val();

        cell.parent().find('.msg').hide().remove();
        if (ret) {
            cell.parent().removeClass('error');
        } else {
            cell.parent().addClass('error');
            cell.parent().append('<span class="msg help-inline">Value is missing.</span>');
        }
        return !! cell.val();
      };

      var validate = function(row) {
        var ret = true;

        $.each(['pattern', 'dest'], function() {
          ret = validateCell(row.find('.' + this)) && ret;
        });

        return ret;
      };

      $('.rules .add').live('click', function() {
        if (! validate($(this).parents('tr').first())) {
          return;
        }
        var add = this;
        var tbody = $(add).parents('tbody').first();
        var new_ = tbody.children('tr.new');
        var new2 = new_.clone().hide();
        tbody.append(new2);
        new2.removeClass('new');
        new2.addClass('rule');
        new2.show('slow');

        $(add).text('Del');
        $(add).removeClass('add');
        $(add).addClass('del');
      });

      $('.rules .del').live('click', function() {
        $(this).parents('tr').first().hide('fast', function() { $(this).remove(); });
      });

      /**
       * Convert the current rule set into a JSON-serializable object.
       */
      var serialize = function() {
        var ret = [];
        $('.rules tr.rule')
         .each(function() {
             var cur = {
                type:    $(this).find('select')[0].value,
                pattern: $(this).find('.pattern')[0].value,
                dest:    $(this).find('.dest')[0].value
             };
             ret.push(cur);
         });
         return ret;
      };

      $('.save').live('click', function() {
        var rules = serialize();
        console.log(rules);
        $.ajax({
            type: 'POST',
            url: '/rules',
            data: { 'rules': JSON.stringify(rules) },
            success: function() {
                console.log('success');
            }
        })
      });
  #{/set}
</div>


