#{extends 'main.html' /}
#{set title:'Prototype' /}

<div class="container">
  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h1>Sorting rules</h1>
    <p>Add or edit sorting rules. Rules are applied top to bottom. Rule evaluation stops at first match.</p>
    <table>
      <tr>
        <th></th>
        <th>When</th>
        <th>To</th>
        <th>Move file to</th>
      </tr>
      <tr>
        <td>1</td>
        <td>
          <select>
            <option>Name contains</option>
            <option>Name equals</option>
            <option>Name regex</option>
            <option selected="yes">Extension equals</option>
          </select>
        </td>
        <td><input type="text" value="pdf"></td>
        <td><input type="text" value="/target"></td>
        <td><a class="btn">Del</a></td>
      </tr>
      <tr>
        <td>2</td>
        <td>
          <select>
            <option>Name contains</option>
            <option>Name equals</option>
            <option>Name regex</option>
            <option>Extension equals</option>
          </select>
        </td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><a class="btn">Add</a></td>
      </tr>
    </table>
    <p>
      <a class="btn primary large">Run rules now</a>
      <small>Last ran 3 minutes ago</small>
    </p>
  </div>

  <!-- Example row of columns -->
  <div class="row">
    <div class="span8">
      <h2>About</h2>
      <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
  </div>

  <footer>
    <p>&copy; Company 2011</p>
  </footer>
</div>
