<script type="text/template" id="exp-uplink">
<li>
    <a href="#" data-path="{{dataPath}}">
	    <i class="icon-chevron-up"></i>
	    <em>Go up one folder.</em>
    </a>
</li>
</script>

<script type="text/template" id="exp-loading">
<li>
    <a>Loading <i class="icon-refresh spin"></i></a>
</li>
</script>

<script type="text/template" id="exp-folders">
<% if (_.isUndefined(dirs)) { %>
<li>
    <a><em>Can't list folder contents</em></a>
</li>
<% } else if (! dirs) { %>
<li>
    <a><em>No more folders</em></a>
</li>
<% } else {
	   _.each(dirs, function(dir) { %>
		    <li class="folder">
		        <a href="#" data-path="{{dir}}">
				    <i class="icon-folder-open"></i>
		            {{basename(dir)}}
		        </a>
		    </li>
<%     });
   } %>
</script>

<script type="text/template" id="exp-select">
    <li class="folder">
        <a href="#">
		    <i class="icon-ok"></i>
            <em>Select</em> {{path}}
        </a>
    </li>
</script>

<script type="text/template" id="moves-list">
<ul>
    <% _.each(moves, function(move) {   
           var toFile = move.resolvedName || move.fromFile;
           if (! move.hasCollision) {
    %>
	        <li class="move-success">
                Moved <code>{{move.fromFile}}</code> to <code>{{move.toDir}}/{{toFile}}</code>. ({{move.when}})
            </li>
        <% } else if (move.resolvedName) { %>
            <li class="move-fail">
                Moved <code>{{move.fromFile}}</code> to <code>{{move.toDir}}/{{toFile}}</code> since
                there is already a file with the same name at the location. ({{move.when}})
            </li>
        <% } else { %>
            <li class="move-fail">
                Failed to move <code>{{move.fromFile}}</code> to <code>{{move.toDir}}/{{toFile}}</code> since
                there is already a file with the same name at the location. ({{move.when}})
            </li>
        <% }   
       }); %>
</ul>
</script>

<script type="text/template" id="moves-empty">
	<em>None yet. Create some rules and save files in your Sortbox folder to get going.</em>
</script>

<script type="text/template" id="moves-error">
	<em>Unable to load recent activity.</em>
</script>

<script type="text/template" id="moves-loading">
	<em>Loading...</em><i class="icon-refresh spin"></i>
</script>

<script>
    _.templateSettings.escape = /\{\{(.+?)\}\}/g;
    !function($) {
        var templateCache = {};

        /**
         * Render the template with the given name into a jQuery
         * wrapped unattached DOM element.
         */
        function template(name, context) {
            var t = templateCache[name];
            if (! t) {
                var e = $('#' + name);
                if (! e.length) {
                    throw 'Cannot find template with name: ' + name;
                }
                
                t = _.template(e.html());
                templateCache[name] = t;
            }

            return $(t(context));
        };

        sortbox.template = template;
    }(window.jQuery);
</script>