<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sortbox &mdash; #{get 'title'}Home#{/get}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="#{static-path '/public/css/bootstrap.min.css'/}" rel="stylesheet">
    <link href="#{static-path '/public/css/styles.css'/}" rel="stylesheet">
    
    <link rel="shortcut icon" href="#{static-path '/public/img/favicon.png'/}">
  </head>

  <body>
    #{get 'nav'}
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Sortbox</a>
	      <ul class="nav">
            <li class="#{get 'faq'}#{/get}"><a href="@{Footer.faq()}">FAQ</a></li>
	      </ul>
	      <ul class="nav pull-right">
	        #{if user}
                #{if user.isAdmin() }
                    <li class="#{get 'admin'}#{/get}"><a href="@{Admin.searchUser()}">Admin</a></li>
                #{/if}
	            <li class="dropdown">
	              <a class="dropdown-toggle" data-toggle="dropdown" href="#">${user.name}<b class="caret"></b></a>
	              <ul class="dropdown-menu">
	                <li><a href="@{Accounts.settings()}">Settings</a></li>
	                <li class="divider"></li>
	                <li><a href="@{Login.logout()}">Logout</a></li>
	              </ul>
	            </li>
	          #{/if}
           </ul>
        </div>
      </div>
    </div>
    #{/get}

    <div class="container">
      #{doLayout /}

      <hr>
      <div class="row">
        <div class="span12">
        <p>
          <span class="easter">&copy;</span>
          2012 All Rights Reserved &middot;
          <a href="@{Footer.team()}">Team</a> &middot;
          <a href="@{Footer.terms()}">Terms</a> &middot;
          <a href="@{Footer.privacy()}">Privacy</a> &middot;
          <a href="mailto: ${play.configuration.getProperty("sortbox.email")}">Contact</a> &middot;
          <a href="https://github.com/mustpax/sortbox">GitHub</a>
        </p>
      </div>
    </div>
    #{if play.mode.isDev() }
	    <script src="#{static-path '/public/js/json2.js'/}"></script>
	    <script src="#{static-path '/public/js/underscore.js'/}"></script>
	    <script src="#{static-path '/public/js/jquery-1.7.2.js'/}"></script>
	    <script src="#{static-path '/public/js/bootstrap.min.js'/}"></script>
    #{/if}
    #{else}
	    <script src="#{static-path '/public/js/all.js'/}"></script>
    #{/else}
    
    <script>
	    window.csrfToken = '${session.getAuthenticityToken().escapeJavaScript()}';
	    _.templateSettings = {
	        escape : /\{\{(.+?)\}\}/g
        };
	    $(function() {
	        $('.dropdown-toggle').dropdown();
	        $('.carousel').carousel().carousel('pause');

	        $('.easter').live('click', function() {
	            $(this).append('<i class="icon-refresh spin"></i>');
	        });
	    });
    </script>
    #{include 'js-templates.html' /}

    #{get 'script' /}
   <!-- Asynchronous Google Analytics snippet. mathiasbynens.be/notes/async-analytics-snippet -->
   <script>
       var _gaq=[['_setAccount','UA-31266349-1'],['_trackPageview']];
       (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
           g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
           s.parentNode.insertBefore(g,s)}(document,'script'));
   </script>
   <!-- end google analytics code -->
  </body>
</html>
