<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sortbox</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="@{'/public/css/bootstrap.css'}" rel="stylesheet">
    <link href="@{'/public/css/styles.css'}" rel="stylesheet">
    
    <link rel="shortcut icon" href="@{'/public/img/favicon.png'}">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Sortbox</a>
	      <ul class="nav pull-right">
	        #{if user}
              <li><a href="#">${user.name}</a></li>
	          <li class="divider-vertical"></li>
	            <li class="dropdown">
	              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Settings<b class="caret"></b></a>
	              <ul class="dropdown-menu">
	                <li><a href="#">Disable periodic sort</a></li>
	                <li class="divider"></li>
	                <li><a href="#">Delete account</a></li>
	              </ul>
	            </li>
              <li><a href="/logout">Logout</a></li>
	          #{/if}
           </ul>
        </div>
      </div>
    </div>

    <div class="container">
      #{doLayout /}

      <hr>
      <div class="row">
        <div class="span12">
        <p>
          &copy; Mustafa Paksoy, Sid Yang 2012 &middot;
          <a href="/team">Team</a> &middot;
          <a href="/terms">Terms</a> &middot;
          <a href="/privacy">Privacy</a> &middot;
          <a href="/contact">Contact</a>
        </p> 
        <p>
          <iframe allowtransparency="true" frameborder="0" scrolling="no" src="https://platform.twitter.com/widgets/follow_button.1334389481.html#_=1334432920074&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=sortboxteam&amp;show_count=false&amp;show_screen_name=true&amp;size=m" class="twitter-follow-button" style="width: 122px; height: 20px; " title="Follow"></iframe>
        </p>
        </footer>
      </div>
    </div>
    <script>
    window.csrfToken = '${session.getAuthenticityToken().escapeJavaScript()}';
    </script>
    <script src="@{'/public/js/json2.js'}"></script>
    <script src="@{'/public/js/underscore.js'}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <script>window.jQuery || document.write("<script src='@{'/public/js/jquery-1.6.2.min.js'}'>\x3C/script>")</script>
    <script src="@{'/public/js/bootstrap.min.js'}"></script>
    #{get 'script' /}
    
    <script>
	    _.templateSettings = {
	        escape : /\{\{(.+?)\}\}/g
        };
        $('.dropdown-toggle').dropdown();
    </script>
    #{include 'js-templates.html' /}
    
	<!-- begin google analytics code -->
	<script type="text/javascript">
	
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-30914757-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script>
	<!-- end google analytics code -->
  </body>
</html>
