#{extends 'main.html' /}
#{set title:'Account'/}

<ul class="nav nav-tabs">
  <li class="active">
    <a href="@{info()}">Account info</a>
  </li>
  <li>
    <a href="@{settings()}">Account settings</a>
  </li>
  <li>
    <a href="@{delete()}">Delete account</a>
  </li>
</ul>

<div class="row">
  <div class="span8 offset2">
    <dl class="dl-horizontal account-info ">
      <dt>User name</dt>
      <dd>${user.name}</dd>
      <dt>Periodic sort</dt>
      <dd>${user.periodicSort ? "Enabled" : "Disabled"}</dd>
      <dt>Last sync</dt>
      #{if user.lastSync}
      <dd>${user.lastSync}</dd>
      #{/if}
      #{else}
      <dd><em>None yet</em></dd>
      #{/else}
      <dt>Created date</dt>
      <dd>${user.created}</dd>
      <dt>Last modified</dt>
      <dd>${user.modified}</dd>
    </dl>
  </div>
</div>
